h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 0;
	padding-bottom: 20px;
	font-weight: 500;
	line-height: 1.2;
	color: $color__text-headings;
}

h1 {
	@include font-size(3.125);
	font-weight: 400;
	font-family: $font__logo;
	text-transform: uppercase;
}
h2 {
	@include font-size(1.875);
}
h3 {
	@include font-size(1.4);
}
h4 {
	@include font-size(1.375);
	text-transform: uppercase;
}
h5 {
	@include font-size(1.375);
}
h6 {
	@include font-size(1.125);
}

@include media-breakpoint-up(md){
	h1 {
		@include font-size(3.125);
	}
	h2 {
		@include font-size(2.5);
	}
	h3 {
		@include font-size(1.875);
	}
	h4 {
		@include font-size(1.375);
	}
	h5 {
		@include font-size(1.375);
	}
	h6 {
		@include font-size(1.125);
	}
}