$color__primary: #322A37;
$color__secondary: #e6a665;

$color__background-body: #C9CBCE;
$color__background-header: $color__primary;
$color__background-footer: $color__primary;
$color__background-sidebar: #ffffff;

//////
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
////////
$color__background-input: #E9E9E9;

$color__text-screen: #21759b;////
$color__text-input: $color__primary;
$color__text-input-focus: $color__primary;
$color__link: $color__secondary;
$color__link-visited: $color__secondary;
$color__link-hover: $color__primary;
$color__text-main: #a2a0a0;
$color__text-headings: $color__primary;
$color__site-title: #ffffff;
$color__border-input: #ccc;

///
$color__border-abbr: #666;
////

$color__border-tags: $color__secondary;
