$font__main: 'Roboto', sans-serif;
$font__logo: 'Tinos', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$fa: "FontAwesome";
$font__line-height-body: 1.7142857;
$font__line-height-pre: 1.7142857;