.main-navigation {
	display: block;
	padding: 18px 0;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		display: inline-block;
		position: relative;

		& + li{
			margin-left: 50px;
		}

		&:hover > a,
		&.focus > a {
			color: $color__link;
		}
	}
	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		color: #fff;
		letter-spacing: 0.7px;
	}

	//.current_page_parent > a,
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__link;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 49%;
		margin-right: 2%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 49%;
	}

	.nav-previous a,
	.nav-next a{
		width: 100%;
		@include font-size(1);
		line-height: 1.3;
		display: inline-block;
		padding: 15px 15px;
		text-align: center;
		color: #fff;
		background: #524C56;
		font-weight: 400;
		margin-bottom: 10px;

		@include media-breakpoint-up(md){
			@include font-size(1.125);
			width: auto;
		}

		&:hover{
			background: $color__primary;
			color: $color__link;
		}
	}
}
