.site-footer {
	background: $color__background-footer;
	margin-bottom: 105px;
	padding: 50px 0;

	h1, h2, h3, h4, h5, h6, .widget_tag_cloud .tagcloud a {
		color: #fff;
	}
	.widget_tag_cloud .tagcloud a:hover{
		border-color: #fff;
	}
	.widget-title{
		margin-bottom: 13px;
	}
}

.site-info {
	padding: 59px 0;
	color: #fff;
	text-transform: uppercase;
}

