.site-header{
	background: $color__background-header;
	padding: 37.5px 0 28.5px;
	text-align: center;
	.site-branding {
		display: inline-block;
	}
	.main-navigation{
	}

	@include media-breakpoint-up(md){
		text-align: inherit;
		.site-branding {
			float: left;
		}

		.main-navigation{
			float: right;
		}
	}
}

.site-title {
	line-height: 1;
	padding: 0;
	margin: 0;
	letter-spacing: 1.1px;

	&_link{
		text-decoration: none;
		color: $color__site-title;
		&:hover,
		&:active,
		&:focus,
		&:visited {
			color: $color__site-title;
		}
	}
}

.site-description {
	color: #aeadad;
	text-align: right;
	padding: 0;
	line-height: 1;
}
